.container {
	background: rgb(80, 177, 109);
	width: 30%;
	height: 70vh;
	border-radius: 15px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	color: white;
	border: solid rgb(7, 138, 40);
	
}

.numbers {
	display: flex;
	width: 100%;
	/* border: red solid; */
	justify-content: space-around;
	margin-top: 40px;
}

.header {
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 15px;
	
}

.main {
	width: 80%;
	/* border: solid red; */
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-between;
}

.header p, h2 {
	margin: 0;
	/* border: solid red; */
}

.header h1, h2{
	font-family: sans-serif;
}

.numbers h2{
	font-size: 60px;
	margin: 0;
	background: white;
	padding: 5px 25px;
	border-radius: 5px;
	border: solid rgb(7, 138, 40);
	color: rgb(7, 138, 40);

}

.numbers h1 {
	font-size: 60px;
	margin: 0;
	font-weight: bolder;
}

#input {
	/* width: 100%; */
	height: 15px;
	padding: 25px ;
	border-radius: 10px;
	color: rgb(7, 138, 40);
	font-weight: bolder;
	font-size: 20px;
	border: solid rgb(7, 138, 40);
}

#button {
	
	
	padding: 15px 30px;
	border-radius: 10px;
	/* width: 100%; */
	font-weight: bolder;
	/* letter-spacing: 1px; */
	align-items: center;
	justify-content: center;
	display: flex;
	margin-bottom: 17px;
	font-size: 25px;
	border: solid white;
	cursor: pointer;
	background: rgb(80, 177, 109);
	color: white;
}

#button:hover {
	background: rgb(7, 138, 40);
	color: white;
	/* border: none; */
}