* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    /* padding: 8px 3rem; */
    /* padding-top: 1rem; */
    padding: 1rem 0;
    align-items: center;
    color: white;
}

#bar {
    display: none;
    cursor: pointer;
}

ul {
    list-style: none;
    display: flex;
    /* outline: black solid; */
    color: white;
    display: flex;
    justify-content: space-between;
   
}

nav {
    /* outline: red solid; */
    width: 25%;
    
}

a {
    text-decoration: none;
    color: white;
    
}

a:hover {
    font-weight: bold;
}

h1 {
    font-size: 25px;
    letter-spacing: 1px;
    margin-left: 3rem;
}


.icons i {
    font-size: 32px;
    cursor: pointer;
    
}

.icons {
    width: 13%;
    display: flex;
    justify-content: space-between;
    margin-right: 3rem;
}


@media (max-width: 768px) {
    
   .icons {
        display: none;
    }

    header {
        /* outline: red solid; */
        flex-direction: column;
        align-items: flex-start;
        /* display: none; */
    }

    
    nav {
        width: 100%;
        display: none;
    }

    a {
        color: rgb(153, 153, 153);
    }

     ul {
        flex-direction: column;
        /* outline: red solid; */
        width: 100%;
    }


    li:first-child {
        margin-top: 10px;
    }

    li {
        padding: 0.5rem;
        cursor: pointer;
        text-align: center;
        user-select: none;
    }

    li:hover {
        background-color: #555;
        width: 100%;
        color: white;
        
    }

    a:hover {
        color: white;
    }

    #bar {
        display: block;
        font-size: 32px;
        
        position: absolute;
        right: 3rem;
    }

    .active {
        display: inline;
    }
    
}